$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: .9rem;
$gray-800: #1A2931;
$gray-700: #25333D;


@import "../vendor/thomaspark/bootswatch/dist/Yeti/variables";
@import "../vendor/bower-asset/bootstrap/scss/bootstrap";
@import "../vendor/thomaspark/bootswatch/dist/Yeti/bootswatch";



// @import "Flatly/variables";
// @import "Flatly/bootswatch";

/* render test */

