.rack-cabinet {
    margin: 5pt;
    text-align: center;
}



table.rack-widget {
    display: inline-table;
    background-color: gray;
    border: #0d3349 solid 1px;
    border-collapse: separate;
    border-spacing: 0;


}

td.rack-title {
    color: white;
    font-weight: bold;
    margin:0;
    padding:0;
}
td.rack-unit {
    border: #0d3349 solid 1px;
    margin:0;
    padding:0;
    line-height:0;
}

td.rack-unit-label {
    margin:0;
    padding:0;
    text-align: center;
    color: white;
    border-top: lightgray solid 1px;
    border-left: lightgray solid 1px;
    border-bottom: dimgray solid 1px;
    border-right: dimgray solid 1px;
    background-color: #8f8f8f;
    line-height:0;
}

td.rack-unit-installed {
    border-bottom: lightgray solid 1px;
    border-right: lightgray solid 1px;
    border-top: dimgray solid 1px;
    border-left: dimgray solid 1px;
    background-color: #cccccc;
    line-height:0;
}

td.rack-unit.highlight {
    border: lime solid 1px !important;
}