.expandable-card-outer {
    position: relative;
}

.expandable-card-outer.compressed .expandable-card-content.oversize{
    overflow-y: hidden;
    mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
    -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.expandable-card-outer.line-break .expandable-card-content span.object-item{
    display: block;
}

.expandable-card-switch {
    bottom: 0;
    position: absolute;
    padding:0; margin:0; border:0;
    width:100%;
    height: 7px;
    text-align: center;
    vertical-align: bottom;
    color: inherit;
    z-index: 999;
}

.expandable-card-switch svg {
    height: 100%;
    display: block;
    position: static;
    margin: auto;
    opacity: 30%;
}

.expandable-card-outer.compressed:hover .expandable-card-switch svg{
    opacity: 45%;
}

.expandable-card-outer:hover {background-color:rgba(0, 0, 0, 0.02);}