.folder {
    padding-left: 2px;
    padding-right: 9px;
    background: url(closed.gif) no-repeat right center;
}

.folder.open {
    background: url(open.gif) no-repeat right center;
}

div.folded {
    padding: 0.5em;
    border: 1px dotted #ccc;
}

span.folded {
    border: 1px dotted #ccc;
}

span.indicator {
    visibility: hidden;
}


#dokuwiki__pagetools ul li a.fold_unfold_all:hover,
#dokuwiki__pagetools ul li a.fold_unfold_all:active,
#dokuwiki__pagetools ul li a.fold_unfold_all:focus {
    background-position: right -45px;
}

/* below style rules are created by javascript
.folded.hidden { display: none; }
.folder span.indicator { visibility: visible; }
*/
