span.acl-card,
div.acl-card {
    background-color: #ced4da;
    border: none;
}

div.acl-card p {
    margin-bottom: 0.4rem;
}

span.ace-card,
div.ace-card {
    background-color: #838c99;
    color: white;
    border: none;
}
div.ace-card a {
    color: white;
}

div.ace-access-card {
    background-color: #6c757d;
}

button.ace-access-buttons,
a.ace-access-buttons {background-color: #495057;}

button.ace-access-buttons:hover,
a.ace-access-buttons:hover {background-color: #4f5a69;}

div.acls-form img.exclamation-sign {width: 60pt; height: 60pt; margin-top: 60pt;}