/* ПАСПОРТ */

div.arm_passport h3 {display: inline;}
div.arm_passport div.header {text-align: center;}
/* Табличка */
div.arm_passport td {
    border: black 1px solid;
    border-collapse: collapse;
    padding-left: 4px;
}
div.arm_passport th {
    border: black 1px solid;
    border-collapse: collapse;
    padding-left: 4px;
    font-weight: bold;
}
div.arm_passport table {width: 100%}
div.soft_unagreed,
div.soft_unknown,
div.soft_ignored,
div.soft_free,
div.soft_agreed { margin-bottom: 30px;}
div.arm_passport #unagreed_hdr, div.arm_passport #unknown_hdr, div.arm_passport #agreed_hdr {color: red; cursor: pointer;}
div.arm_passport .hardware_item.saved-found,   div.arm_passport .software_item.saved-found {background-color: #ccffcc;}
div.arm_passport .hardware_item.unsaved-found, div.arm_passport .software_item.saved-missing {background-color: #ffffcc;}
div.arm_passport .hardware_item.saved-missing, div.arm_passport .software_item.saved-missing {background-color: #ffcccc;}

div.arm_passport #unknown_items td.passport_tools,
div.arm_passport #unknown_items th.passport_tools,
div.arm_passport #ignored_items td.passport_tools,
div.arm_passport #ignored_items th.passport_tools,
div.arm_passport #free_items td.passport_tools,
div.arm_passport #free_items th.passport_tools
{display: none !important;}

div.arm_passport td.os-name {
    word-break: keep-all;
    white-space: nowrap;
}

div.edit-hw-item td {width: 20%;}

.underlined {text-decoration: underline;}

@media print {
    .wrap {padding: 0!important; margin: 0!important;}
    .wrap .container {padding: 0 !important;}
    #reformal_tab, .footer {display: none !important;}
    div.arm_passport a:after{display: none !important;}
    div.arm_passport #free_hdr,
    div.arm_passport #ignored_hdr,
    div.arm_passport #unagreed_hdr,
    div.arm_passport #unknown_hdr {display: none !important;}
    div.arms-view .arms-view-header {display: none !important;}
    .breadcrumb, .passport_tools {display: none;}

    div.arm_passport .glyphicon{display: none !important;}
    div.arm_passport {font-size: 3mm !important;}
    div.arm_passport .soft td {font-size: 2.5mm !important;}
    div.arm_passport .header h3, div.arm_passport h3{font-size: 3.2mm !important; font-weight: bold !important;}
    div.arm_passport .header h1{font-size: 5mm !important;  margin: 0 !important;}
    div.arm_passport .excluded, div.arm_passport .hardware_item.unsaved-found {display: none;}
    div.arm_passport .hardware_item.saved-found, div.arm_passport .hardware_item.saved-missing {background-color: white;}
}