
/* РАСКРАСКА СЕГМЕНТОВ СЕТИ */
span.segment_open {background-color: lightgreen; border-radius: 7px}
div.arms-card div span.segment_open {background-color: seagreen;}
span.segment_closed {background-color: pink; border-radius: 7px}
div.arms-card div span.segment_closed {background-color: indianred}
span.segment_common {background-color: lightskyblue; border-radius: 7px}
span.segment_ext {background-color:yellow; border-radius: 7px;}
span.segment_ext_dmz {background-color:yellow; border-radius: 7px; border: 1.2pt red dashed;}
span.segment_int_dmz  {background-color:lightgray; border-radius: 7px; border: 1.2pt orange dashed;}
span.segment_guest_dmz  {background-color:#3c3c3c; border-radius: 7px;  border: 1.5pt orange solid;}
span.segment_guest_dmz a {color: orange}
span.segment_client_vpn  {background-color:coral; border-radius: 7px}
span.segment_intersite_vpn  {background-color:cyan; border-radius: 7px}
span.segment_it_lan  {background-color:orange; border-radius: 7px}
div.arms-card div span.segment_it_lan  {background-color: darkorange;}
span.segment_videoconf  {background-color:lightyellow;}
span.segment_gw_close2open  {background-color:lightgreen; border-radius: 7px;  border: 2pt red solid;}
span.segment_gw_open2close  {background-color:pink; border-radius: 7px;  border: 2pt lime solid;}
span.segment_voip  {background-color: greenyellow;}
span.segment_skud  {background-color: burlywood;}
span.segment_mgmt {background: repeating-linear-gradient(
    45deg,
    lightyellow,
    lightyellow 4px,
    #e3e3e3 4px,
    #e3e3e3 4px
);}


/* РАСКРАСКА L2 ДОМЕНОВ */
span.net-domain-CHL_VLAN {background-color: #96dce1; border-radius: 7px}
span.net-domain-MSK_VLAN {background-color: #949494; border-radius: 7px}
span.net-domain-MSK_VLAN a {color: black}
span.net-domain-KLG_VLAN {background-color: #c9c9A3; border-radius: 7px}
span.net-domain-KLG_VLAN a {color: black}
span.net-domain-MHK_VLAN {background-color: #ededb7; border-radius: 7px}
span.net-domain-NN_VLAN {background-color: #9da1d7; border-radius: 7px}
span.net-domain-SPB_VLAN {background-color: #c080c0; border-radius: 7px}
