div.map-item {
    font-size: 12px;
    position: absolute;
    cursor: pointer;
}

div.map-item.techs {
    color: limegreen;
    border: solid limegreen 2px;
    background: rgba(0, 40, 0, 0.7);
}

div.map-item.techs:hover {
    color: lime;
    border: solid lime 2px;
    background: rgba(0, 100, 0, 0.8);
}

div.map-item.places {
    color: #ccd232;
    border: solid #ccd232 2px;
    background: rgba(110, 79, 28, 0.5);
}

div.map-item.places:hover {
    color: yellow;
    border: solid yellow 2px;
    background: rgba(110, 79, 28, 0.8);
}