
/* Раскраска статусов оборудования */
span.item_status.state_required, td.item_status.state_required {background-color: cyan}
span.item_status.state_confirmed, td.item_status.state_confirmed {background-color: #1da7ee}
span.item_status.state_in_supply_service, td.item_status.state_in_supply_service {background-color: cyan}
span.item_status.state_in_warehouse, td.item_status.state_in_warehouse {background-color: grey}
span.item_status.state_operating, td.item_status.state_operating {background-color: #5cb85c}
span.item_status.state_malfunction, td.item_status.state_malfunction {background-color: orange}
span.item_status.state_broken, td.item_status.state_broken {background-color: red}
span.item_status.state_decommissioned, td.item_status.state_broken {background-color: grey; color: orange}
span.item_status.state_issued, td.item_status.state_broken {background-color: darkmagenta; color: white}

span.unit-status.state_required {background: linear-gradient(45deg,transparent,transparent 15px,cyan 15px)}
span.unit-status.state_confirmed {background: linear-gradient(45deg,transparent,transparent 15px,#1da7ee 15px)}
span.unit-status.state_in_supply_service {background: linear-gradient(45deg,transparent,transparent 15px,cyan 15px)}
span.unit-status.state_in_warehouse {background: linear-gradient(45deg,transparent,transparent 15px,grey 15px)}
span.unit-status.state_operating {background: linear-gradient(45deg,transparent,transparent 15px,limegreen 15px)}
span.unit-status.state_malfunction {background: linear-gradient(45deg,transparent,transparent 15px,orange 15px)}
span.unit-status.state_broken {background: linear-gradient(45deg,transparent,transparent 15px,red 15px)}
span.unit-status.state_decommissioned {background: linear-gradient(45deg,transparent,transparent 15px,grey 15px); color: orange}
span.unit-status.state_issued {background: linear-gradient(45deg,transparent,transparent 15px,darkmagenta 15px)}
span.unit-status.state_unknown {background: linear-gradient(45deg,transparent,transparent 15px,white 15px); border-radius: 0 !important;}

/* Раскраска статусов документов */
span.state_required, span.state_paywait {background-color: yellow}
span.state_paywait_confirmed {background-color: lightgreen}
span.state_payed_partial {background-color: limegreen}
span.state_paywait_full {background-color: green; color:white}
span.state_payed {background-color: #1da7ee}
span.state_revoked, span.state_fail {background-color: red; color: white}

/*span.contract_history_preview {display: inline-block; white-space: nowrap; overflow: hidden; width: auto; height: 1.2em; max-width: 10em;}*/
span.contract_state_cell {display: inline-block; white-space: nowrap; overflow: hidden; max-width: 25em;}

/* РАСКРАСКА ВОЗРАСТА ИНФОРМАЦИИ ОБ ОС */
td.arm_hostname.hour_fresh {background-color: lightskyblue}
td.arm_hostname.day_fresh {background-color: lightblue}
td.arm_hostname.week_fresh {background-color: lightgreen}
td.arm_hostname.month_fresh {background-color: lightgoldenrodyellow}
td.arm_hostname.over_month_fresh {background-color: lightpink}

span.unit-status.hour_fresh {background: linear-gradient(45deg,transparent,transparent 15px, dodgerblue 15px)}
span.unit-status.day_fresh {background: linear-gradient(45deg,transparent,transparent 15px, limegreen 15px)}
span.unit-status.week_fresh {background: linear-gradient(45deg,transparent,transparent 15px, darkkhaki 15px)}
span.unit-status.month_fresh {background: linear-gradient(45deg,transparent,transparent 15px, darkorange 15px)}
span.unit-status.over_month_fresh {background: linear-gradient(45deg,transparent,transparent 15px, indianred 15px)}


/* СЕРВЕР */

table.places-arms-container td.server {background-image: url(/web/img/diagonal-noise.png)}


/* РАСКРАСКА Ответственных за сервисы */
td.col_serviceUser.col_responsible {background-color: lightgreen}
td.col_serviceUser.col_support {background-color: lightgoldenrodyellow}
td.col_serviceUser.col_missing {background-color: lightpink}
td.col_serviceSum.status_OK {background-color: lightgreen}
td.col_serviceSum.status_Warning {background-color: lightgoldenrodyellow}
td.col_serviceSum.status_Alert {background-color: lightpink}
