.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-yellow .tooltipster-box {
    background: #FFFFA3;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-yellow .tooltipster-content {
    color: #555;
    font-size: 10.5px;
    line-height: 12px;

}